.quiz-manager-header-container {
  width: 100%;
  border-bottom: 1px $border-grey solid;
  margin-bottom: 10px;
}

.quiz-manager-header {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #ffffff;
}

.quiz-manager-header-content-container {
  position: relative;
  margin-bottom: 10px;
  padding-top: 10px;
  border-bottom: 0px !important;
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.quiz-manager-header-link {
  text-decoration: none;

  &:link,
  &:visited {
    color: #0b0c0c;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
  }
}

.quiz-manager-header-link--homepage {
  font-weight: 700;
  display: inline-block;
  font-size: 30px;
  line-height: 1;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    margin-bottom: -1px;
    border-bottom: 1px solid;
  }

  &:focus {
    margin-bottom: 0;
    border-bottom: 0;
  }
}
